* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header{
    background-color: #182C61;
}

.Containerheader {
    padding: 16px 0;
    background-color: #182C61;
    color: #ecf0f1;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: normal;

    & h1 {
        font-family: "Bungee", sans-serif;
        font-weight: normal;
    }

    & nav li {
        display: inline;
        margin-left: 15px;
    }

    & a {
        color: #ecf0f1;
        text-decoration: none;
        font-size: 18px;
        font-family: "Bungee", sans-serif;
    }
}

.Containersection {
    padding-top: 10px;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    display: flex;

    & img {
        padding-right: 15px;
    }

    & h2{
        margin-bottom: 30px;
        font-family: "Bungee", sans-serif;
        color: #182C61;
    }
    & ul li {
        display: inline;   
    }
    & p {
        font-family: "Roboto", sans-serif;
        color: #182C61;
    }
    
    & li img {
        height: 24px;
        margin-top: 30px;
    }   
}

.containercontact {
    padding-top: 10px;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    color: #182C61;

    & h2,
    h3,
    form button {
        font-family: "Bungee", sans-serif;
        font-weight: normal;
        margin-bottom: 20px;
        margin-top: 30px;
    }

    & .contact{
        display: flex;
        justify-content: space-between;
    }

    & form textarea {
        height: 180px;

        
    }

    & form button {
        background-color: #182C61;
        color: #ecf0f1;
        border: none;
        cursor: pointer;
        height: 50px;
        margin-top: 0;
    }

    & form input,
    form textarea,
    form button {
        display: block;
        width: 320px;
        margin-bottom: 8px;
        padding: 8px;
        resize: none;
    }
}
    
.nosacompanhe {
    & li {
        display: inline;         
    }
    & li a {
        text-decoration: none;
        font-family: "Roboto", sans-serif;
        color: #182C61;
    }
    & li a img {
        height: 24px;
        margin-right: 15px;
    }
}
form button:hover{
    background-color: #334e96;
}
.faleconosco input{
    font-family: "Roboto", sans-serif;   
}
input:focus, textarea:focus{
    outline-color: #182C61;
}

footer {
    background-color: #182C61;
}
.containerrodape{
    background-color: #182C61;
    color: #ecf0f1;
    padding: 16px 0;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
}

@media (max-width: 900px) {
    body {
        background-color: #182C61;
    }

    .Containerheader {
        color: #ecf0f1;
        width: 100%;
        display: flex;
        flex-direction: column;
    
        & h1 {
            margin-bottom: 20px;
        }
    }

    .Containersection {
        width: 100%;
        display: flex;
        flex-direction: column;
    
        & img {
            padding-right: 0;
        }
    
        & h2{
            margin: 10px 0 0 10px;
            color: #ffffff;
        }

        & p {
            color: #fcfcfc;
            padding: 0 10px 0 10px;
        }
        
        & ul li {
            margin: 20px 0 0 10px;
        }
    }

    .containercontact {
        width: 100%;
        color: white;
        margin: auto 10px 0 10px;
    
        & form button {
            background-color: #ecf0f1;
            color: #182C61;
        }
    
        & .contact{
            display: flex;
            flex-direction: column;
        }
    }
        
    .nosacompanhe {
        margin: auto auto 0 10px;
        }
    
    footer {
    margin: auto auto 0 10px;
    }
}